source venv/bin/activate


PYTHON_BINDING_PATH=/home/edwin/university/Directed_Research/Efficient-GRR/convert_cpp
export LD_LIBRARY_PATH=$PYTHON_BINDING_PATH:$LD_LIBRARY_PATH
export PYTHONPATH=$PYTHON_BINDING_PATH:$PYTHONPATH

unset PS1
